@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font: italic normal 1em "Work Sans", arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

h1{
    font: 3em "Kaushan Script", serif;
}

h2{
    font: 2em "Kaushan Script", serif;
}